.table-container {
    height: 400px;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid #ddd;
}

.bottom-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
   
}

.loader {
    width: 25px;
    height: 25px;
    border: 3px solid #ddd;
    border-top: 3px solid #333;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}