<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-warning">
                Client-List
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Sr no</th>
                            <th>clientName</th>
                            <th>businessName</th>
                            <th>contactPerson</th>
                            <th>contactNo</th>
                            <th>email</th>
                            <th>Actions</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @for( item of clientsList(); track $index) {
                        <tr>
                            <td>{{$index+1}}</td>
                            <td>{{item.clientName}}</td>
                            <td>{{item.businessName}}</td>
                            <td>{{item.contactPerson}}</td>
                            <td>{{item.contactNo}}</td>
                            
                            <td>{{item.email}}</td>
                           <td>
                            <button class="btn bg-warning" (click)="onEdit(item)">Edit</button>
                            <button class="btn bg-danger mt-2" (click)="onDelete(item.clientId)">Dlete</button>
                           </td>

                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-warning">
                New-client
            </div>
            <div class="card-body">
                <form action="">
                    <div class="row g-3">
                        <div class="col-6">
                            <label for="" class="form-label" >clientName</label>
                            <input type="text" class="form-control" [formField]="clientDetailsForm.clientName" placeholder="enter clientName">
                        </div>
                        <div class="col-6">
                            <label for="" class="form-label">businessName</label>
                            <input type="text" class="form-control" [formField]="clientDetailsForm.businessName" placeholder="enter businessName">
                        </div>
                        <div class="col-6" >
                            <label for="" class="form-label">contactPerson</label>
                            <input type="text" class="form-control" [formField]="clientDetailsForm.contactPerson" placeholder="Enter contactPerson">
                        </div>
                        <div class="col-6">
                            <label for="" class="form-label">contactNo</label>
                            <input type="text" class="form-control" [formField]="clientDetailsForm.contactNo" placeholder="Enter contactNo">
                        </div>
                        <div class="col-6">
                            <label for="" class="form-label">altContactNo</label>
                            <input type="text" class="form-control" [formField]="clientDetailsForm.altContactNo"  placeholder="Enter altContactNo">
                        </div>
                        <div class="col-6">
                            <label for="" class="form-label">email</label>
                            <input type="text" class="form-control" [formField]="clientDetailsForm.email"  placeholder="Enter email">
                        </div>
                        <div class="col-6">
                            <label for="" class="form-label">logo</label>
                            <input type="text" class="form-control" [formField]="clientDetailsForm.logo"  placeholder="Enter logo">
                        </div>
                        <div class="col-12 text-end">
                            @if (clientDetailsModel().clientId==0) {
                                <button class="btn btn-warning me-2" (click)="onSavePostClient()">Save</button>
                            }
                            @else {
                                <button class="btn btn-info me-2" (click)="onUpdateClientDetails()">Update</button>
                            }
                            <button class="btn btn-warning" >Reset</button>
                        </div>
                      

                    </div>
                </form>
            </div>
        </div>
    </div>

</div>